.bordered-squere{
	padding: 40px 67px 52px;
	font-size: 18px;
margin-bottom: 38px;
	border:1px solid $yellow;
	line-height: 1.25;
	 @include media('<desktop') {
	
	 padding: 25px 20px;
	 }
			
	 @include media('<tablet') {
		font-size: 16px;
	 padding: 20px 10px;	
	 }
			
	p{
		margin-bottom: 0;
	}
	.bottom-row{
		padding:0 20% ;
		 @include media('<tablet') {
			padding: 0 10px;
		 
		 }
				
	}
}