.lang-list {
    @extend %clearfix;
    @extend %listreset;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px 0 7px;
    width: 55px;
    float: right;
    @include media('<tablet') {
        padding: 16px 0;
        margin-right: 20px;
    }
    li {
        float: right;
        padding: 0 6px;
        border-right: 1px solid $gray;
        &:first-child {
            border-right: 0;
            padding-right: 0;
        }
        &.active a {
            color: $yellow;
        }
    }
    a {
        @include animate(color);
    }
}
