.slider-default {
    .slide {
        height: 670px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        @include media('<widescreen') {
            height: 580px;
        }
        @include media('<desktop') {
            height: 420px;
        }
        @include media('<tablet') {
            height: 400px
        }
        @include media('<phone') {
            height: 350px;
        }
    }
    .owl-dots {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        .owl-dot {
            @include animate(border-color);
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border-color: transparent;
            border: 1px solid transparent;
            border-color: transparent;
            margin: 0 6px;
            &.active,
            &:hover {
                border-color: $yellow;
            }
            &.active span,
            &:hover span {
                background-color: $yellow;
            }
            span {
                @include animate(background-color);
                width: 16px;
                height: 16px;
                margin: 6px;
                background-color: $white;
            }
        }
    }
    .slide {
        padding: 7% 0 30px;
        @include media('<tablet') {
            padding: 70px 0 10px;
        }
    }
    h1 {
        span {
            display: block;
        }
    }
}

.slider-preview {
    position: relative;
    .dots-holder {
        position: absolute;
        top: 64px;
        left: 0;
        z-index: 9999;
        bottom: 0;
        padding: 38px 0 30px 15px;
        background-color: rgba(#766633, .8);
        width: 234px;
        overflow: scroll;
        @include media('<992px') {
            display: none;
        }
    }
    .owl-dots {
        overflow: hidden;
        @include media('<widescreen') {
            width: 180px;
        }
    }
    .owl-carousel .slide-el {
        position: relative;
        img{
            vertical-align: top;
            max-width: none;
             @include media('<desktop') {

               width: 120%;
             
             }
              @include media('<tablet') {
                width: 170%;
              
              }
                      @include media('<phone') {
                        width: 220%;
                      
                      }
                             
                    
        }
        .slide-content {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 134px 0 30px;
            @include media('<1500px') {
                padding-left: 250px;
                padding-top: 110px;
            }
            @include media('<widescreen') {
                padding-top: 90px;
                padding-left: 150px;
            }
            @include media('<992px') {
                padding-left: 0;
                padding-top: 60px;
            }
             @include media('<tablet') {
            padding-top: 70px;
             
             }
                    
          
        }
    }
    .owl-dot {
        @include animate(opacity);
        background-size: cover;
        width: 100%;
        height: 120px;
        background-position: 50% 50%;
        opacity: 1;
        margin-bottom: 20px;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
        @include media('<widescreen') {
            height: 80px;
        }
        &.active,
        &:hover {
            opacity: 0.56;
        }
    }
    .mCSB_container {
        margin-right: 15px;
    }
    .owl-nav {
        position: absolute;
        top: 50%;
        font-size: 60px;
        font-family: icomoon;
        left: 0;
        right: 0;
        @include media('<992px') {
            font-size: 30px;
        }
        .owl-prev {
            @extend .icon-circle-left;
            color: transparent;
            position: absolute;
            left: 250px;
            width: 60px;
            overflow: hidden;
            @include media('<992px') {
                width: 30px;
                left: 10px;
            }
            &:hover:before {
                opacity: 0.8;
            }
            &:before {
                @include animate(opacity);
                color: $white;
            }
        }
        .owl-next {
            @extend .icon-circle-right;
            color: transparent;
            position: absolute;
            width: 60px;
            right: 50px;
            overflow: hidden;
            @include media('<992px') {
                width: 30px;
                right: 10px;
            }
            &:hover:before {
                opacity: 0.8;
            }
            &:before {
                @include animate(opacity);
                color: $white;
            }
        }
    }
}
